.blue{
    height: 200px;
    width: 200px;
    background-color: blue;
    position: relative;
  z-index: 0;
  text-align: center;
  

}
.green{
    height: 200px;
    width: 200px;
    background-color: green;
   position: relative;
   left: 50px;
   bottom: 150px;
   z-index: 2;
}
.yellow{
    height: 200px;
    width: 200px;
    background-color:yellow;
    position: relative;
    left: 100px;
    bottom: 300px;
    z-index: 3;
}
.blue:hover {
z-index: 4;
display: block;
}
.green:hover{
    z-index: 5;
}
img{
    width: 100px;
    height: 100px;
    margin: 50px;
}

